<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Febnine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://localhost:3000/stylesheets/food.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="event-schedule-area-two bg-color pad100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <div class="title-text">
            <h2>Febnine</h2>
          </div>
          <p>
            맛집을 검색하고 자신만의 맛집 리스트를 만들어 보세요
          </p>
        </div>
      </div>
      <!-- /.col end-->
    </div>
    <!-- row end-->

    <div class="row">
      <div class="col-lg-12">
        <ul class="nav custom-tab" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link" id="profile-tab"  href="http://localhost:3000/search">맛집 검색</a>
          </li>
        </ul>
        <div>
          <form action="#" class="career-form mb-60">
            <div class="row">
              <div class="col-md-6 col-lg-3 my-3">
                <div class="input-group position-relative">
                  <input type="text" class="form-control" placeholder="Enter Your Keywords" id="keywords">
                </div>
              </div>
              <div class="col-md-6 col-lg-3 my-3">
                <div class="select-container">
                  <select class="custom-select">
                  <option selected="">Location</option>
                  <option value="1">서울</option>
                  <option value="2">경기도</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 col-lg-3 my-3">
                <div class="select-container">
                  <select class="custom-select">
                    <option selected="">Select Food Type</option>
                    <option value="food">음식점</option>
                    <option value="bar">술집</option>
                    <option value="cafe">카페</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 col-lg-3 my-3">
                <button type="button" class="btn btn-lg btn-block btn-light btn-custom" id="contact-submit">
                  Search
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade active show" id="home" role="tabpanel">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center" scope="col">Name</th>
                    <th scope="col">Thumbnail</th>
                    <th scope="col">Info</th>
                    <th scope="col">별점</th>
                    <th class="text-center" scope="col">Detail</th>
                  </tr>
                </thead>
                <% for(let i=0; i < data.length; i++) { %>
                <tbody>
                  <tr class="inner-box">
                    <th scope="row">
                      <div class="event-date">
                        <h3> <%= data[i].name%> </h3>
                      </div>
                    </th>
                    <td>
                      <div class="event-img">
                        <% if (data[i].images.length != 0 ) { %>
                          <% for(let j=0; j < data[i].images.length; j++) { %>
                            <% if(data[i].images[j].type == "썸네일") { %>
                              <img src="<%= data[i].images[j].url %>" alt="">
                            <% } %>
                          <% } %>
                        <% } else { %>
                          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" />
                        <% } %>
                      </div>
                    </td>
                    <td>
                      <div class="event-wrap">
                        <h3><a href="#"><%= data[i].location %></a></h3>
                        <div class="meta">
                          <div class="organizers">
                            <a href='<%=data[i].site%>'>사이트 바로가기</a>
                          </div>
                          <div class="categories">
                            <% for (let j=0; j < data[i].categories.length; j++) { %>
                            <a href="#"> <%= data[i].categories[j].tag%> </a>
                            <% } %>
                          </div>
                          <div class="time">
                            <span><%= data[i].location %></span>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="r-no">
                        <span><%=data[i].grade%></span>
                      </div>
                    </td>
                    <td>
                      <div class="primary-btn">
                        <a class="btn btn-primary" href="/foods/<%=data[i].id%>">상세 페이지</a>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <% } %>
              </table>
            </div>
          </div>
        </div>
        <div class="primary-btn text-center">
            <a href="#" class="btn btn-primary">Download Schedule</a>
        </div>
      </div>
      <!-- /col end-->
    </div>
    <!-- /row end-->
  </div>
</div>
</body>
</html>