<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet", href="http://localhost:3000/stylesheets/result.css">
  <title>Document</title>
</head>
<body>
  <div class="X">
    <h1> <%= keyword %>으로 검색한 결과입니다.</h1>
    <ul class="SG">
      <% for(let i=0; i< data.length; i++) { %>
      <li class="sgLi">
        <div class="box">
          <h3><%= data[i].place_name%></h3>
          <ul class="df">
            <li><%= data[i].address_name%></li>
            <li><%= data[i].place_url%></li>
            <li><%= data[i].category_group_name%></li>
            <li><%= data[i].category_name %>></li>
          </ul> 
      </div>
      <% } %>
    </ul>
    <h2>By @wilder_taype</h2>
    </div>
</body>
</html>